@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@500&display=swap");

// @font-face {
//   font-family: "futura bt";
//   src: url("../fonts/futura medium bt.ttf");
// }

// @font-face {
//   font-family: "toppan";
//   src: url("../fonts/ToppanBunkyuMinchoPr6N-Regular.otf");
// }

body,
html {
  width: 100%;
  overflow-x: hidden;

  &.scrollHide {
    overflow-y: hidden;
  }
}

* {
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Noto Sans TC", sans-serif;
}

button {
  border: none;
  background-color: transparent;
}

.W1200 {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.f_TC {
  font-family: "Noto Serif TC", serif;
}

.W20 {
  width: 20%;
}

.W25 {
  width: 25%;
}

.W33 {
  width: 33%;
}

.W50 {
  width: 50%;
}

.W67 {
  width: 67%;
}

.W100 {
  width: 100%;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px !important;
  line-height: 1.7;
}

.f16 {
  font-size: 16px;
  line-height: 1.5;
}

.f18 {
  font-size: 18px !important;
  line-height: 1.3;
}

.f22 {
  font-size: 22px;
  line-height: 1.3;
}

.f24 {
  font-size: 24px !important;
}

.f26 {
  font-size: 26px !important;
}

.f30 {
  font-size: 30px !important;
}

.f34 {
  font-size: 34px !important;
}

.f36 {
  font-size: 36px;
}

.f45 {
  font-size: 45px;
}

.f50 {
  font-size: 50px;
}

.bg_blue {
  background-color: #22395b;
}

.bg_white {
  background-color: #fff;
}

.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.poA {
  position: absolute;
}

.opa0 {
  opacity: 0;
}

.opa1 {
  opacity: 1;
}

.f_white {
  color: #fff;
}

.f_grey {
  color: #808080;
}

.f_red {
  color: #c40020;
}

.f_blue {
  color: #44bbc0;
}

.f_b {
  font-weight: bold;
}

.t_center {
  text-align: center;
}

.t_left {
  text-align: left;
}

.d_flex {
  display: flex !important;
  flex-wrap: wrap;
}

.d_none {
  display: none;
}

.br20 {
  border-radius: 20px;
}

.mb {
  display: none !important;
}

.pc {
  display: inline-block !important;
}

.ham {
  display: none;
}

.title {
  border-bottom: 4px solid #000;
  padding-bottom: 25px;

  h5 {
    font-size: 32px;
    padding-bottom: 12px;
  }

  h6 {
    color: #808080;
  }
}

.more_btn {
  display: inline-block;
  width: 150px;
  padding: 5px 20px;
  border-radius: 20px;
  border: solid 1px #000;
  line-height: 1.7;
  letter-spacing: 1.4px;
  text-align: center;
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4),
    inset 2px 2px 5px 0px rgba(0, 0, 0, 0.4), 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.see {
  padding-left: 20px;
}

.item {
  .img_wrapper {
    position: relative;
    img {
      width: 100%;
      margin-bottom: 20px;
    }
    .poA {
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 60px 30px 30px;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) 40%,
        rgba(0, 0, 0, 0)
      );
      .see {
        float: right;
      }
      h6 {
        margin-top: 6px;
      }
    }
  }
  h6 {
    font-family: "Noto Serif TC", serif;
  }
  p {
    line-height: 1.7;
  }
}

#header {
  background-color: #000;
  width: 100%;
  z-index: 100;
  height: 70px;

  .W1200 {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 170px;
      position: relative;
      z-index: 50;
    }

    .nav {
      align-items: center;

      li {
      }
    }

    .menu_btn {
      display: none;
      background-image: url(../images/btn-menu.png);
      width: 40px;
      height: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 40px;
      top: 15px;
      cursor: pointer;

      @media screen and (max-width: 999px) {
        display: block;
      }

      @media screen and (max-width: 599px) {
        right: 20px;
      }
    }
  }
}

#footer {
  background-color: #000;
  padding: 50px 30px 0;

  .footer_detail {
    width: 550px;
    margin: 0 auto;
  }

  ul {
    margin: 20px auto 0;
    justify-content: space-between;
    border-bottom: 2px solid #eee;

    &:nth-child(3n + 2) {
      flex-grow: 1;
    }
  }

  li {
    width: calc(33% - 20px);
    margin-bottom: 45px;
    line-height: 1.8;
    padding-left: 25px;
  }

  span {
    letter-spacing: 1.5px;
  }

  .copy_right {
    margin: 45px auto;
    line-height: 1.8;
  }

  a {
    height: 33px;
    display: inline-block;
  }
}

.wrapper {
  padding: 40px;
}

#tab {
  margin-bottom: 25px;

  li {
    width: 20%;
    border-top: 3px solid #000;
    padding: 16px 10px;
    line-height: 1.5;
    border-right: 2px solid #000;

    &:last-child {
      border-right: none;
    }

    &.active {
      border-top: 2px solid #44bbc1;
      color: #44bbc1;
    }
  }
}

#search {
  margin-bottom: 40px;

  input {
    -webkit-appearance: none;
    height: 46px;
    border: 1px solid #000;

    &[type="text"] {
      width: calc(100% - 170px);
      padding: 0 20px;
    }

    &[type="button"] {
      width: 170px;
      color: #fff;
      background-color: #000;
    }
  }
}

#features {
  > .d_flex {
    justify-content: space-between;

    .sec_left {
      width: calc(40% - 18px);
      .continue {
        display: inline-block;
        padding-bottom: 8px;
        border-bottom: 2px solid #44bbc1;
        float: right;
      }
    }

    .sec_center,
    .sec_right {
      width: calc(35% - 18px);
    }
  }
}

@media screen and (max-width: 999px) {
  .mb {
    display: inline-block !important;
  }

  .pc {
    display: none !important;
  }

  .f16 {
    font-size: 15px;
  }

  .f19 {
    font-size: 17px !important;
  }

  .f22 {
    font-size: 19px;
  }

  .f24 {
    font-size: 20px !important;
  }

  .f26 {
    font-size: 22px !important;
  }

  .f30 {
    font-size: 24px !important;
  }

  .f34 {
    font-size: 27px !important;
  }

  .f36 {
    font-size: 29px;
  }

  .f45 {
    font-size: 35px;
  }

  .f50 {
    font-size: 40px;
  }
}

@media screen and (max-width: 599px) {
  .f14 {
    font-size: 13px !important;
  }

  .f16 {
    font-size: 14px;
  }

  .f19 {
    font-size: 15px !important;
  }

  .f22 {
    font-size: 17px;
  }

  .f24 {
    font-size: 17px !important;
  }

  .f26 {
    font-size: 18px !important;
  }

  .f30 {
    font-size: 22px !important;
  }

  .f34 {
    font-size: 25px !important;
  }

  .f36 {
    font-size: 27px;
  }

  .f45 {
    font-size: 30px;
  }

  .f50 {
    font-size: 33px;
  }
}
